---
export async function getStaticPaths() {
  const posts = Object.values(import.meta.glob(['../data/blog/*.md', '../data/blog/*.mdx'], { eager: true }));
  const aliasPaths = posts.flatMap((post: any) => {
    const canonicalSlug = post.frontmatter.slug;
    const aliases = post.frontmatter.aliases || [];
    return aliases.map((alias: string) => ({
      params: { slug: alias },
      props: { canonicalSlug },
    }));
  });

  return aliasPaths;
}

const { canonicalSlug } = Astro.props;
---

<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=/posts/${canonicalSlug}`} />
    <link rel="canonical" href={`/posts/${canonicalSlug}`} />
  </head>
  <body>
    Redirecting to <a href={`/posts/${canonicalSlug}`}>{canonicalSlug}</a>…
  </body>
</html>