---
const { id, user } = Astro.props;
---
<script src={`https://gist.github.com/${user}/${id}.js`}></script>
<p style="font-size: 0.875em; color: #666; margin-top: 0.5rem;">
  Note: This embedded Gist contains the most up-to-date version of the script, which may differ slightly from the explanation above.
</p>
